/*公共样式*/
body{
	font: 12px/1.5 Microsoft YaHei,tahoma,arial,Hiragino Sans GB,\\5b8b\4f53,sans-serif;
	color: #666;
    background-color: #f6f6f6;	
}
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
*::after,*::before{
	box-sizing: border-box;
}
ul,li{
	list-style-type: none;
}
a{
	text-decoration: none;
}
.layout{
	width: 1190px;
	margin: 0 auto;
}

/*头部快捷导航*/
#header-shortcut{
	border-bottom: 1px solid #ddd;
	background-color: #e3e4e5;
	box-sizing: border-box;
	height: 30px;
	line-height: 30px;
	color: #999;
}
.icon-zuobiao{
	color: #f10215;
	font-size: 14px !important;
}
#header-shortcut li{
	float: left;
}
.shortcut-left {
	float: left;
}
.shortcut-left li{
	height: 30px;
	margin-left: 200px;
}
#header-shortcut .mycityicon-wrap{
	padding-left: 7px;
    padding-right: 8px;	
}
.shortcut-right {
	float: right;
	margin-right: 6px; 
}
#header-shortcut .dt {
	padding-left: 7px;
    padding-right: 8px;
}
#header-shortcut a.hover{
	color: #999;
}
#header-shortcut .hover:hover{
	color: #c81623;
}
#header-shortcut .signup{
	color: #f10215;
}
#header-shortcut .spacer{
	width: 1px;
	overflow: hidden;
	height: 10px;
	background-color: #ccc;
	margin: 11px 5px 0 5px;
}
#header-shortcut .icon-jiantou-copy1{
	font-size: 16px;
	position: relative;
	top: 3px;
}
/*dropdown*/
#header-shortcut .dropdown{
	position: relative;
}
#header-shortcut .dropdown:hover{
	background-color: #fff;
}
#ttbar-mycity .dropdown-layer{
	position: absolute;
	left: -1px;
	top: 30px;
	width: 322px;
	border: 1px solid #ccc;
	border-top: none;
	background-color: #fff;
	padding: 8px;
}
#ttbar-mycity .dropdown-layer.hide{
	display: none;
}
#ttbar-mycity .item{
	float:left;
	width: 60px;
	padding: 2px 0;
	margin-left: 8px;
	margin-right: -8px;
}
#ttbar-mycity .item a{
	float: left;
	height: 24px;
	line-height: 24px;
	padding: 0 8px;
	color: #999;
}
#ttbar-mycity .item a.active{
	background-color: #f10215 !important;
	color: #fff !important;
}
#ttbar-mycity .item a:hover{
	background-color: #eee;
	color: #c81623;
}
/*mobile JD*/
.jd-mobile-qrcode{
	position: relative;
}
.mobile-static {
	position: absolute;
    left: 3px;
    width: 66px;
    height: 66px;
    border: 1px solid #cfcfcf;
	border-top: none;
}
.mobile-static-qrcode::before{
	content: '';
	width: 0;
	height: 0;
	font-size: 0;
	display: block;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
	position: absolute;
	top: -9px;
	left: 50%;
	transform: translateX(-50%);
}
.mobile-static-qrcode{
	width: 60px;
	height: 60px;
    margin: 3px auto;
	background:#f6f6f6 url(../../image/mobile_qrcode.jpg) 50% 50% no-repeat;
}
#dropdown-qrcode{
	width: 190px;
	border: 1px solid #cfcfcf;
	border-bottom: 3px solid #60575a;
	border-top: none;
	z-index: 20;
	background: #fff;
	position: absolute;
    left: auto;
    right: -6px;
    top: 30px;
}
