
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1487412737269'); /* IE9*/
  src: url('iconfont.eot?t=1487412737269#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1487412737269') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1487412737269') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1487412737269#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-ipad:before { content: "\e640"; }

.icon-snimicsousuo:before { content: "\e6a3"; }

.icon-arrow:before { content: "\e603"; }

.icon-search:before { content: "\e620"; }

.icon-gouwuche:before { content: "\e653"; }

.icon-zuobiao:before { content: "\e61e"; }

.icon-chevron-copy-copy-copy:before { content: "\e621"; }

.icon-jiantou-copy:before { content: "\e655"; }

.icon-jiantou-copy1:before { content: "\e600"; }

.icon-pingguo:before { content: "\e601"; }

.icon-anzhuo:before { content: "\e602"; }

