html,body,ol,li{
	padding: 0;
	margin: 0;
}
body{
	background-color: #fafafa;
	font-family: Helvetica, 'Hiragino Sans GB', 'Microsoft Yahei', '微软雅黑', Arial, sans-serif;
}
ol,li {
	list-style-type: none;
}
#app{
	margin: 0 auto;
	margin-top: 40px;
	max-width: 1024px;
}
.icon-basictodolistpencil {
  text-align: center;
  font-size: 100px !important; 
  color: #ccc;
  margin-bottom: 30px;
}
#input-box {
	border: 1px solid #ccc;
	width: 900px;
	height: 50px;
	padding: 10px;
	border-radius: 15px;
	outline: none;
	box-shadow: 2px 2px 6px 2px #ccc ;
	color: #666;
	font-size: 18px;
	display: block;
	margin: 0 auto;
}

.todos{
	margin-top: 20px;
	box-sizing: border-box;
}
.todos li {
	width: 100%;
	padding: 5px 0;
	display: inline-block;
	font-size: 20px;
	border-radius: 10px;
	padding: 5px 20px;
	box-sizing: border-box;
}
.todos li:hover{
	background-color: #eee;
}
.todos .todos-itme{
	position: relative;
	top: 4px;
	padding-left: 10px;
	color: #666;
	font-weight: bold;
}
.checkbox {
 width: 19px;
 height: 25px;
 display: block;
 clear: left;
 float: left;
}
.view-right{
	float: right;
	font-size: 14px;
	color: #666;
	position: relative;
	top: 7px;
}
.created-date{
	font-weight: bold;
	padding-right: 20px;
}
.btn-close{
	border-radius: 50px;
	border: none;
	background-color: #F93D3D;
	color: #fafafa;
	cursor: pointer;
	margin-left: 10px;
	outline: none;
}
.btn-close:hover{
	background-color: #D24141
}
[v-cloak] {
  display: none;
}

/*登录注册框*/
#signInAndSignUp{
	position: absolute;
	top: 48%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #666;
	border: 1px solid #ccc;
	border-radius: 8px;
	padding: 10px 15px 2px 15px;
	background-color: #fff;
	font-weight: bold;
}
#signInAndSignUp .wrap {
	text-align: center;
	color: #666;
	margin-bottom: 10px;
}
#signInAndSignUp .wrap .todoList-title {
	padding: 5px 0;
	margin: 0;
}
#signInAndSignUp .wrap label{
	text-align: center;
	font-size: 18px;
	cursor: pointer;
	color: #ccc;
}
#signInAndSignUp .wrap label.underline{
	padding-bottom: 5px; 
	border-bottom: 1px solid #3CBBBC;
	color: #495F5F;
	transition: all 0.3s;
}
#signInAndSignUp .wrap input{
	display: none;
}
#signInAndSignUp .formRow{
	padding: 10px 0;
}
#signInAndSignUp .formActions{
	text-align: center;
}
#signInAndSignUp .formActions input{
	border: none;
	background-color: #333;
	color: #fafafa;
	border-radius: 4px;
	font-weight: bold;
	font-size: 18px;
	cursor: pointer;
	padding: 10px 10px;
	margin-top: 10px;
	outline: none;
}
#signInAndSignUp .formActions input:active{
	background-color: #666;
	color: #fff;
}
#signInAndSignUp .formRow input{
	border-radius: 4px;
	width: 220px;
	height: 30px;
	color: #333;
	padding: 2px 10px;
	background-color: #eee;
	outline: none;
	font-size: 18px;
}